
/* Styles for large overarching Areas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #378039;
    background-image: linear-gradient(to right, #378039 , #333);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
    padding: 10px 70px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 0px;
}

footer {
    background-color: #333;
    background-image: linear-gradient(to right, #161616, #353535);
    color: gray;
    text-align: left;
    padding: 1.5rem;
    padding-left: 3rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    font-size: 0.9rem;
}

/* General Wrapper and Container Styles */


.wrapper {
    margin: auto;
    overflow: hidden;
    text-align: left;
    text-align: center;
}

.wrapper p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    text-align: left;
}

.wrapper ul {
    text-align: left;
}

.wrapper h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.container {
    margin: auto;
    overflow: hidden;
    width: 60%;
    padding: 2rem 0;
}

/* Special Wrappers for index.html */

.introwrapper {
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding: .5rem 0;
    width: 100%;
    background-image: url("Images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: relative;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 5rem;
}

.wrapperwrapper {
    background-color: rgba(255,255,255,0.7);
    width: 50%;
    padding: 2.3rem;
}

.introcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;           
    flex-wrap: wrap;    
    padding-top: 25px;  
    padding-bottom: 25px;        
}

.wrapperdiv {
    width: 25%;                    
    padding: 25px;
    text-align: center;
    box-sizing: border-box;  
    border: 2px solid #cfcfcf;
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 10px; 
    background-color: #fff;
    min-height: 350px;

    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.wrapperdiv h2 {
    text-align: center;
}

.wrapperdiv p {
    text-align: left;
}

/* Special Wrappers for contact.html */

.wrapperdivtwo {
    width: 15%;                    
    padding: 25px;
    text-align: center;
    box-sizing: border-box;  
    border: 2px solid #cfcfcf;
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 10px; 
    background-color: #fff;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain; 
}

/* Special Wrappers for pricing.html */

.wrapperdivthree {
    width: 30%;                    
    padding: 25px;
    text-align: center;
    box-sizing: border-box;  
    border: 2px solid #cfcfcf;
    border-radius: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 10px; 
    background-color: #fff;
    min-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.wrapperdivthree h1 {
    font-size: 45px;
    font-weight: lighter;
}

.wrapperdivthree p {
    font-size: 165px;
    font-weight: lighter;
}

.pricingcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;           
    flex-wrap: wrap;    
    padding-top: 25px;  
    padding-bottom: 90px;        
}

/* Special Wrappers for demo.html */

.demolist {
    list-style: disc;
    padding-left: 50px;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}


/* Spoiler styles & special tools page wrappers */

.detspoil {
    font-size: 1.8rem;
    padding: 10px 20px;
    font-weight: bold;

}

.wrapperdivfour {
    width: 100%;                    
    padding: 25px;
    text-align: center;
    box-sizing: border-box;  
    border: 2px solid #cfcfcf;
    border-radius: 6px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 10px; 
    background-color: #fff;
    min-height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
}

.srtbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #8d8d8d, #353535);
    background-color: #8d8d8d;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

.vulbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #2900dd, #353535);
    background-color: #2900dd;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

.genbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #00cc33, #353535);
    background-color: #00cc33;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

.bnkbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #0052cc, #353535);
    background-color: #0052cc;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

.insbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #39c502, #353535);
    background-color: #39c502;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

.hltbtn {
    display: inline-block;
    padding: 10px 250px;
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #00976a, #353535);
    background-color: #00976a;
    border: 3px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: .5rem;
}

/* Styles for Buttons */

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.navbtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.navbtn:hover {
    background-color: #45a049;
}

.demobtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.demobtn:hover {
    background-color: #45a049;
}

/* Other Nav Styles */

.navone a {
    padding-left: 20px;
}

