* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    background-image: linear-gradient(to right, #4CAF50 , #333);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    align-items: center;
    padding: 10px 70px;
}

main {
    padding-top: 65px;
}

.intro {
    padding: 2rem 0;
    text-align: center;
}

.intro h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.intro p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.navbtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #307033;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-weight: normal;
}

.navbtn:hover {
    background-color: #45a049;
}

.navone a {
    padding-left: 20px;
}


.download-section {
    padding: 2rem 0;
    background-color: #fff;
    text-align: center;
}

footer {
    background-color: #333;
    background-image: linear-gradient(to right, #161616, #353535);
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 0.9rem;
}
